# Environnements virtuels
.venv/
env/
venv/

# Fichiers Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter et IPython
.ipynb_checkpoints

# Logs
*.log
logs/

# Fichiers système
.DS_Store
Thumbs.db

# Variables d’environnement
.env

# Fichiers d’IDE
.vscode/
.idea/
